body{
	margin: 0;
	padding: 0;
    margin: 30px 0px 0px 470px;
}


.main{
	width: 450px;
	height: 800px;
	overflow: hidden;
    background: lightblue;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
}


p{
	color: #000;
	font-size: 40px;
	margin: 30px 0 0 140px;
	cursor: pointer;
}


input{
	width: 60%;
	height: 20px;
	background: #e0dede;
	margin: 16px;
	margin-left: 80px;
	margin-top: 20px;
	padding: 10px;
	border: none;
	border-radius: 5px;
}


.name{
	margin-top: 40px;
}


input:hover{
    background-color: rgb(204, 237, 250);
}


div.male{
	width: 16%;
	height: 20px;
	background: #e0dede;
	margin-left: 80px;
	margin-top: 20px;
	display: inline-block;
	padding: 10px;
	border: none;
	border-radius: 5px;
}


div.female{
	width: 16%;
	height: 20px;
	background: #e0dede;
	margin-top: 20px;
	margin-bottom: 20px;
	display: inline-block;
	padding: 10px;
	border: none;
	border-radius: 5px;
}

input.male{
	display: inline-block;
	margin:-40px -60px 0px 10px;
}


input.female{
	display: inline-block;
	margin:-40px -60px 0px 0px;
}


.male:hover{
    background-color: rgb(204, 237, 250);
}


.female:hover{
    background-color: rgb(204, 237, 250);
}


select{
	width: 64%;
	height: 40px;
	background: #e0dede;
	margin: 16px;
	margin-left: 80px;
	margin-top: 20px;
	padding: 10px;
	border: none;
	border-radius: 5px;
}


button{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 20px;
	font-weight: bold;
	margin-top: 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}