*{
    padding: 0;
    margin: 0;
    font-family: 'Jost', sans-serif;
}

.main{
    border: 1px solid gainsboro;
    width: 70%;
    height: 510px;
    margin: 10px 0px 0px 100px;
    border-top: 4px  solid green;
}

.host{
    color: rgb(172, 170, 170);
    margin-left: 196px;
    margin-top: -16px;
}

h2{
    margin-left: 100px;
    margin-top: 30px;
}

h4{
    margin-left: 110px;
    margin-top: 20px;
}

p{
    color: rgb(172, 170, 170);
}

.pending{
    color: black;
}

.accepted{
    color: rgb(42, 196, 42);
}

.declined{
    color: rgb(240, 42, 42);
}

.hr-1{
    margin-top: 80px;
}

.hr-2{
    margin-top: 80px;
}

img.first{
    margin-left: 10px;
    margin-top: 10px;
    width: 10%;
    border-radius: 200px;
}

img.second{
    margin-left: 10px;
    margin-top: 60px;
    width: 10%;
    border-radius: 200px;
}

img.third{
    margin-left: 10px;
    margin-top: 60px;
    width: 10%;
    border-radius: 200px;
}

.first-information{
    margin-left: 120px;
    margin-top: -80px;
}

.second-information{
    margin-left: 240px;
    margin-top: -34px;
}

.first-pending{
    margin-left: 840px;
    margin-top: -34px;
    color: rgb(172, 170, 170);
}

.second-pending{
    margin-left: 840px;
    margin-top: -34px;
    color: rgb(42, 196, 42);
}

.third-pending{
    margin-left: 840px;
    margin-top: -34px;
    color: rgb(240, 42, 42);
}